*
{
	margin: 0 auto;
}
body
{
	background-color:#252525;
}
p
{
	color:white;
	font-size:20px;
	font-family: Georgia, serif;
	margin-top:30px;
	text-align:justify;
}
h1, h2, h3, h4
{
	color:white;
	margin-top:30px;
	text-align:center;
}

center
{
	margin-top:2%;
	width:80%;
}
img
{

}

video
{

}
